@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  padding-top: 4rem; 
}


.bg-darkBackground {
  background-color: #1a202c;
}

.bg-darkCard {
  background-color: #2d3748; 
}

.bg-darkAccent {
  background-color: #2c5282; 
}

.text-link {
  color: #3182ce; 
}

.bg-link {
  background-color: #3182ce; 
}
